/* TODO: design a column layout */
.columns-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background: #343A40;
  color: white;
  flex: 0 0 200px;
  position: sticky;
  top: 0;
  padding: 30px;
  text-align: center;
  height: 100vh;
}

.main {
  flex: 0 1 auto;
  padding: 30px
}
